<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.n4dev.redshift"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/img_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RedShift.Light" >
        <activity
            android:name="ca.n4dev.redshift.BrowserActivity"
            android:label="@string/title_activity_browser"
            android:theme="@style/Theme.RedShift.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:scheme="http" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="ca.n4dev.redshift.HistoryActivity"
            android:label="@string/title_activity_history" 
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="ca.n4dev.redshift.BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="ca.n4dev.redshift.SettingsActivity"
            android:label="@string/title_activity_settings" 
            android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity
            android:name="ca.n4dev.redshift.bookmark.BookmarkEditActivity"
            android:label="@string/title_activity_bookmark" 
            >
        </activity>
        
    </application>

</manifest>