body {
	background-color:#0f0f0f;
}
#main {
	text-align:center;
	padding:10px;
}
#imglogo {
	margin-bottom:50px;
}

a.dial { 
	display:block;
	text-align:left;
	padding:10px;
	border:2px solid #000;
	text-decoration: none;
	background-color:#141414;
	margin:5px 0;
}

a.dial .title {
	font-size:2em;
	color:#ddd;
}
a.dial .url {
	font-size:1.2em;
	color:#33B5E5;
}


