body {
	background-color:#0f0f0f;
}
#main {
	text-align:center;
	padding:10px;
}
#imglogo {
	margin-bottom:50px;
}

a.dial { 
	display:block;
	text-align:left;
	padding:10px;
	border:2px solid #000;
	text-decoration: none;
	background-color:#141414;
	margin:5px 0;
}

a.dial .title {
	font-size:2em;
	color:#ddd;
}
.url {
	font-size:1.2em;
	color:#33B5E5;
}

div.about {
	text-align:left;
}

span.title {
	font-size:2em;
	color:#fff;
	text-decoration:underline;
}

span.titlevalue {
	font-size:3em;
	color:#fff;
}

div.text {
	font-size:1.4em;
	color:#fff;
	width:700px;
}
